.change-password-maindiv{
    display: flex;
    height: 100vh;
    background-color: #b5cff5;
    flex-direction: column;
}
.change-password-innerdiv{
    margin: auto;
    background-color: #9bb2f0;
    border-radius: 10px;
    box-shadow: 5px 10px 15px gray;
    width: 25%;
}
.change-password-design{
    padding: 10px;
}
.change-password-image{
    padding-top: 10px;
    margin: auto;
}
.change-password-form{
    padding: 20px;
}

@media only screen and (max-width : 1024px) {
    .change-password-maindiv{
        height: 100%;
    }
    .change-password-innerdiv{
        margin-top: 20px;
        width: 40%;
    }
}

@media only screen and (max-width : 425px) {
    .change-password-maindiv{
        height: 100%;
    }
    .change-password-innerdiv{
        margin-top: 20px;
        width: 80%;
    }
}

@media only screen and (max-width : 320px) {
    .change-password-innerdiv{
        width: 100%;
    }
}