.forgot-password-maindiv{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #b5cff5;
}
.forgot-password-innerdiv{
    margin: auto;
    background-color: #9bb2f0;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 5px 10px 15px gray;
}
.forgot-password-heading{
    font-size: 32px;
    font-weight: bold;
    word-spacing: 10px;
    letter-spacing: 5px;
    color: black;
}
@media only screen and (max-width : 320px) {
    .forgot-password-heading{
        font-size: 22px;
        margin: 5px;
        font-weight: bold;
        word-spacing: 10px;
        letter-spacing: 5px;
        color: black;
    }   
}